{% extends 'navbar.html' %}

{% block body %}

{% ifequal error 'no' %}
<script>
    alert('record saved successfully');
    window.location=('{% url "Viewequipment" %}');
</script>
{% endifequal %}

{% ifequal error 'yes' %}
<script>
    alert('something went wrong, Try again');
</script>
{% endifequal %}


<div class="container" style="margin-top: 40px;">
    <h2 class="text-center text-secondary font-weight-bold">Add Equipment</h2>
    <form method="post" style="margin-bottom: 10px;">
        {% csrf_token %}
        <label ><b>Equipment Name</b></label>
        <input type="text" name="name" class="form-control" placeholder="Enter ur name" required><br>
        <label ><b>Price(in rs.)</b></label>
        <input type="text" name="price" class="form-control" placeholder="Enter price" required>
        <label ><b>Unit</b></label>
        <input type="text" name="unit" class="form-control" placeholder="Enter unit" required>
        <label ><b>Purchase Date</b></label>
        <input type="date" name="date" class="form-control" placeholder="Enter date" required>
        <label ><b>Description</b></label>
        <textarea class="form-control" name="desc"></textarea><br>
        <input type="submit" value="Submit" class="form-control btn btn-primary">

    </form>

</div>
{% endblock body %}