{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<div style="background-color: brown; width : 100% ; height:100px">
    <h3 class="container pt-4 text-white">Contact Us</h3>
</div>
<div class="container my-4">
   <div class="row">
       <div class="col-sm-6"> 
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d448183.73907005717!2d76.81307299667618!3d28.646677259922765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1597743857280!5m2!1sen!2sin" width="500" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
       </div>

       <div class="col-sm-6 mt-5"> 
            <p><i class="fas fa-envelope"></i>Email Id : Monty4139@gmail.com</p>
            <p><i class="fas fa-phone-square"></i>Contact: 7053446507</p>
            <p><i class="fas fa-address-card"></i>Address : kondli, new delhi</p>
            <p><i class="fas fa-clock"></i>office Hour : 9a.m - 6p.m </p>

       </div>
   </div>
    <br><br>
</div>
{% endblock body %}
